/*Desafio clase4*/

header {
	line-height: 5px;
}

.fondoImagen {
	background-image: url(multimedia/mar.jpg);
	width: 100%;
	height: auto;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: auto;
}

#centrar {
	text-align: center;
	width: 100;
	height: auto;
}

header h2 {
	font-size: 50px;
	font-style: italic;
}

/*Desafio clase4*/
