/* Desafío clase 6*/

#containerAv {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

#containerBW {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

#containerDD {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

#containerLogos {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	top: 3cm;
	right: 7.8cm;
}

#containerFooter {
	left: 3cm;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

/* ----------------------------------grids case 7----------------------------------------- */

.grid {
	display: grid;
	grid-template-columns: 25% 50% 25%;
	margin-bottom: 10px;
}
.container-grids1 {
	display: grid;
	grid-template-areas: 
	"avengers"
	"titanes"
	"viento";
	grid-template-rows: 1fr 1fr 1fr;
	grid-row-gap: 5px;
	justify-items: center;
}

#losVengadores {
	grid-area: avengers;
}
#titanes {
	grid-area: titanes;
}
#viento {
	grid-area: viento;
}

.icon-header {
	display: flex;
	justify-content: space-around;
}

.item-b {
	grid-area: main;
}
.item-c {
	grid-area: sidebar;
}
.item-d {
	grid-area: footer;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #63bbc2;
}
body {
	font-family: Helvetica, "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
	color: #4e4e4e;
}

