.section-container {
	padding-left: 5%;
	padding-right: 5%;
}

.sections-div {
	width: 70%;
	display: flex;
	justify-content: space-evenly;
	border: solid 3px rgb(126, 120, 120);
	margin-bottom: 20px;
}

.boton-movie {
	width: 20%;
	margin: 3px;
	border-color: rgb(235, 212, 183);
}
.boton-movie:hover {
	background-color: rgb(238, 195, 142);
}

.movie-box {
	width: 30%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	border-radius: 3px;
}
.movie-box a {
	text-align: center;
}
.movie-box a:hover {
	background-color: rgb(207, 128, 108);
}
.img-button {
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
}


.item2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.gridft {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
}
.mapa {
	width: 200px;
	height: 200px;
	
}

.bordeMapa {
	border:  1px solid  black;
	margin-right: 10px;
}

.mapaDiv {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

